<div class="container form-container">
    <br>
    <h2 style="display: flex; justify-content: center; align-items: center;">Registro de usuario</h2>
    <br>
    <div class="row g-4">
      <div class="col-md-6">
        <label for="primerNombre" class="form-label">Primer Nombre</label>
        <input type="text" class="form-control" placeholder="Primer Nombre" id="primerNombre">
      </div>
      <div class="col-md-6">
        <label for="primerApellido" class="form-label">Primer Apellido</label>
        <input type="text" class="form-control" placeholder="Primer Apellido" id="primerApellido">
      </div>
    </div>
    
    <div class="row g-4 mt-3">
      <div class="col-md-6">
        <label for="segundoNombre" class="form-label">Segundo Nombre</label>
        <input type="text" class="form-control" placeholder="Segundo Nombre" id="segundoNombre">
      </div>
      <div class="col-md-6">
        <label for="segundoApellido" class="form-label">Segundo Apellido</label>
        <input type="text" class="form-control" placeholder="Segundo Apellido" id="segundoApellido">
      </div>
    </div>

    <div class="row g-4 mt-3">
      <div class="col-md-6">
        <label for="inputEmail" class="form-label">Correo</label>
        <input type="email" class="form-control" placeholder="Correo" id="inputEmail">
      </div>
      <div class="col-md-6">
        <label for="perfil" class="form-label">Perfil</label>
        <select id="perfil" class="form-select">
          <option selected>Elegir perfil</option>
          <option>Estudiante</option>
          <option>Profesor</option>
        </select>
      </div>
    </div>
    <br>
    <div style="display: flex; justify-content: center; align-items: center;">

        <button class="btn btn-primary margin1" type="submit"><i class="bi bi-person-plus-fill"></i> Registrarse</button>
        <!--<button class="btn btn-danger margin1" type="reset">Volver</button>-->
        <button class="btn btn-success margin1" type="submit"><i class="bi bi-box-arrow-right"></i> Iniciar sesión</button>
    </div>
  </div>
