h2 {
    color: #ff7700;
    /*font-family: Consolas, "Courier New", monospace;*/
    text-align: center;
  }
  p{
    color: #AB4459;
    /*font-family: Consolas, "Courier New", monospace;*/
    text-align: center;
  }
  body{
    font-family: Consolas, "Courier New", monospace;
  }
  span{
    color: #FF204E;
  }