
button, a{
    color: white;
    
}
button:hover,a:hover{
    color:#ff7700;
    
}
.degradado{
    /*background: linear-gradient(#173B45,#000);*/
    background: #000;
  }
  /*
  #35374B
  #78A083
  */